:root {
  --dark-blue: #000C29;
  --red-lip: #FA005F;
  --white: #FFFFFD;
  --light-grey: #E6E6E6;
  --light-blue: #23C9F5;
}

@media screen and (max-width: 600px) {
  padding: 1rem 2rem;
}


html {
  font-size: 62.5%;
}

body {
  font-family: Roboto;
  font-weight: 400;
}


#app {
  min-height: 100vh;
  padding: 2rem 4rem;
  background-color: #000C29;
}
